:root {
    //--degrader : linear-gradient(130deg, #d63031 1%, #d604c1 ,#e17055 99%);
    //--primary_1 :  linear-gradient(130deg, #d63031 1%, #d604c1 ,#e17055 99%);
    
    --primary_1 : white;
    --primary_2 : blue;
    --primary_3 : red;
    --gray_1: #383838;
    --gray_2: #aaa69d;
    --gray_3: #efefef;
    --gray_4: #f7f1e3;
    --degrader : linear-gradient(to right, #3a6186, #89253e);
    --box-shadow-nav: rgb(0 0 0 /50%) 0px 2px 18px 0px;
}