.mapGame{
    display: grid;
    width:20vw;
    grid-template-columns: 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw;
}

.ligneGame{
    height: 2vw;
    border: 1px solid #000;
}

.coloneGame{

}





.color0{
    background: white;
}

.color1{
    background: red;
}

.color2{
    background: red;
}

.color3{
    background: red;
}

.color4{
    background: red;
}

.color5{
    background: red;
}

.color6{
    background: red;
}

.color7{
    background: red;
}